

.container{
    width: 100%;
    display: flex;
    

}
.sorting-div{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    gap:30px;
    padding:10px;
    
}

.sortBy{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
}
.sortBy label{ 
    font-weight:500;
}

.left-filter{ 
    flex:1;
    padding:10px;
    border: 1px solid teal;
}

.product-container{ 
    flex:2;
    display: flex;
    flex-wrap: wrap;
    padding:10px;
    justify-content:space-around;
}